{% extends './template/layout.html' %} {% block content %}
<div class="pure-u-1 pure-u-md-3-4">
    <div class="content_container">
        {% if termName %}
        <h1 class="label-title">正在查看 {{termName}} 下的文章</h1>
        {% endif %}
        <div class="post">
            <div class="post-archive">
                {% for key,val in data%}
                <h2>{{key}}</h2>
                <ul class="listing">
                    {% for item in val %}
                    <li>
                        <span class="date">{{ item.date|date('Y/m/d') }}</span>
                        <a href="/archives/{{item.id}}" title="{{item.title}}">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}