{% extends './template/layout.html' %} {% block content %}
<div class="pure-u-1 pure-u-md-3-4">
    <div class="content_container">
        <div class="post">
            <h1 class="post-title">{{post.title}}</h1>
            <div class="post-meta">{{ post.date|date('Y-m-d') }}

                <span>|</span>
                <span class="category">
                    {% for categroy in post.categories %}
                    <a href="/categories/{{categroy}}">{{categroy}}</a>
                    {% endfor %}
                </span>
            </div>
            <div class="post-content">
                {% autoescape false %}{{post.content}} {% endautoescape %}
            </div>
            <div class="tags">
                {% for tag in post.tags%}
                <a href="/tags/{{tag}}">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}