<div class="pure-u-1 pure-u-md-3-4" style="display: none">
        <div class="content_container">
            <div class="post">
                <h1 class="post-title">关于</h1>
                <div class="post-content">
                    <p>
                        <i class="fa fa-user"></i> Nickname:
                        <a href="https://www.haomwei.com">Butcher</a>
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> Email:
                        <a href="mailto:i@haom.in" target="_blank" rel="noopener">i@haom.in</a>
                    </p>
                    <p>
                        <i class="fa fa-github"></i> Github:
                        <a href="https://github.com/tufu9441" target="_blank" rel="noopener">@tufu9441</a>
                    </p>
                    <script>window.disqusProxy = { shortname: "haomwei", username: "屠夫9441", server: "disqus.haomwei.com", port: 443, adminAvatar: "/avatars/admin-avatar.jpg", identifier: "about/index.html" }, window.disqus_config = function () { this.page.url = window.location.href, this.page.identifier = window.disqusProxy.identifier }</script>
                </div>
            </div>
        </div>
    </div>