{% extends './template/layout.html' %} {% block content %}
<div class="pure-u-1 pure-u-md-3-4">
    <div class="content_container">
        {% for post in data.list %}
        <div class="post">
            <h1 class="post-title">
                <a href="/archives/{{post.id}}">{{post.title}}</a>
            </h1>
            <div class="post-meta">{{ post.date|date('Y年m月d日') }}</div>
            <div class="post-content">{{post.intro}}...。</div>
            <p class="readmore">
                <a href="/archives/{{post.id}}">阅读全文</a>
            </p>
            {%if admin %}
            <a class="mr-3" href="/writer?id={{post.id}}">编辑</a>
            <a href="javascript:void(0)" data-post="{{post.id}}" data-title="{{post.title}}" data-id="deleteBtn">删除</a>
            {% endif %}
        </div>
        {% endfor %}
        <nav class="page-navigator">
            <a class="page-number" href="/">1</a>
            <a class="page-number" href="/page/{{2}}">2</a>
            <a class="page-number" href="/page/{{3}}">2</a>
            <a class="page-number" href="/page/{{4}}">2</a>
            <!-- <a class="extend prev" rel="prev" href="/page/5/">上一页</a>
            <a class="page-number" href="/">1</a>
            <span class="space">…</span>
            <a class="page-number" href="/page/4/">4</a>
            <a class="page-number" href="/page/5/">5</a>
            <span class="page-number current">6</span>
            <a class="page-number" href="/page/7/">7</a>
            <a class="page-number" href="/page/8/">8</a>
            <span class="space">…</span>
            <a class="page-number" href="/page/21/">21</a>
            <a class="extend next" rel="next" href="/page/7/">下一页</a> -->
        </nav>
    </div>
</div>
{% endblock %}