<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://cdn.junn.top/bootstrap/4.1.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/main.css">
    <title>{{blog.title}}</title>
    <meta name="description"  content="{{blog.description}}" />
    <meta name="keywords"  content="{{blog.keywords}}" />
    <link rel="icon" href="https://gaga-change.github.io/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://gaga-change.github.io/favicon.ico" type="image/x-icon" />
</head>

<body>
    <!-- 总体 -->
    <div class="container">
        <!-- 头部 -->
        <header class="row">
            <nav class="col">
                <ul class="header-menu nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">首页</a>
                        <!-- <a class="nav-link" href="/">首页</a> -->
                    </li>
                </ul>
            </nav>
        </header>
        <!-- 列表 -->
        <div class="row">
            <ul class="col">
                {% for post in data.list %}
                <li class="media">
                    <div class="media-body post-item" style="position: relative;">
                        <a href="/archives/{{post.id}}">
                            <h5 class="mt-0">{{post.title}}</h5>
                            <i class="itme">{{ post.date|date('Y-m-d') }}</i>
                            <p>
                                {{post.intor}}...
                            </p>
                            <hr>
                        </a>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</body>

</html>