{% extends './template/layout.html' %} {% block content %}
<div class="pure-u-1 pure-u-md-3-4">
    <div class="content_container">
        {% for post in data.list %}
        <div class="post">
            <h1 class="post-title">
                <a href="/archives/{{post.id}}">{{post.title}}</a>
            </h1>
            <div class="post-meta">{{ post.date|date('Y年m月d日') }}</div>
            <div class="post-content">{{post.intro}}...。</div>
            <p class="readmore">
                <a href="/archives/{{post.id}}">阅读全文</a>
            </p>
            {%if admin %}
            <a class="mr-3" href="/writer?id={{post.id}}">编辑</a>
            <a href="javascript:void(0)" data-post="{{post.id}}" data-title="{{post.title}}" data-id="deleteBtn">删除</a>
            {% endif %}
        </div>
        {% endfor %}
        <nav class="page-navigator">
            {% if (data.page - 1 > 0)%}
            <a class="extend prev" rel="prev" href="/page/{{data.page - 1}}">上一页</a>
            {% endif %} {% if (data.page - 2 > 1)%}
            <a class="page-number" href="/">1</a>
            {% endif %} {% if (data.page - 3 > 1)%}
            <span class="space">…</span>
            {% endif %} {% if (data.page - 2 > 0)%}
            <a class="page-number" href="/page/{{data.page - 2}}">{{data.page - 2}}</a>
            {% endif %} {% if (data.page - 1 > 0)%}
            <a class="page-number" href="/page/{{data.page - 1}}">{{data.page - 1}}</a>
            {% endif %}
            <span class="page-number current">{{data.page}}</span>
            {% if (data.pages >= data.page + 1) %}
            <a class="page-number" href="/page/{{data.page + 1}}">{{data.page + 1}}</a>
            {% endif %} {% if (data.pages >= data.page + 2) %}
            <a class="page-number" href="/page/{{data.page + 2}}">{{data.page + 2}}</a>
            {% endif %} {% if (data.pages > data.page + 3) %}
            <span class="space">…</span>
            {% endif %} {% if (data.pages > data.page + 2) %}
            <a class="page-number" href="/page/{{data.pages}}">{{data.pages}} </a>{% endif %} {% if (data.pages >= data.page + 1) %}
            <a class="extend next" rel="next" href="/page/{{data.pages}}">下一页</a>
            {% endif %}
        </nav>
    </div>
</div>
{% endblock %}