<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>登入</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="http://cdn.junn.top/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="icon" href="https://gaga-change.github.io/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="https://gaga-change.github.io/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-sm-8 col-md-6">
        <div class="main-content">
          <h2 class="title">小站</h2>
          <div class="input-text  mb-4">
            <input class="form-control" name="username" type="text" placeholder="用户名" id="username">
          </div>
          <div class="input-text mb-4">
            <input class="form-control" name="password" type="text" placeholder="密码" id="password">
          </div>
          <div>
            <button class="btn form-control" type="button" style="display:none " id="submit">
              登入
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://cdn.junn.top/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/api.js"></script>
  <script src="/js/login.js"></script>
</body>

</html>