<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>编辑</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.junn.top/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.junn.top/highlight.js/9.12.0/css/default.min.css">
    <link rel="stylesheet" href="/css/writer.css?v={{blog.version}}">
    <link rel="icon" href="https://gaga-change.github.io/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://gaga-change.github.io/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="writer container-fluid">
        <div class="row">
            <div class="col content-left">
                <h2 class="title">
                    <span id="tilteHint">加载中...</span>
                </h2>
                <div class="menu">
                    <!-- <div class="btn item">保存</div> -->
                    <div class="btn item" id="postCreate">发布文章</div>
                    <div class="btn item" id="logout">退出登入</div>
                </div>
                <div class="area">
                    <textarea id="source"></textarea>
                </div>
            </div>
            <div class="col content-right" id="output">
            </div>
        </div>
    </div>


    <script src="http://cdn.junn.top/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdn.junn.top/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="http://cdn.junn.top/markdown-it/8.4.1/markdown-it.min.js"></script>
    <script src="/js/tools.js?v={{blog.version}}"></script>
    <script src="/js/writer.js?v={{blog.version}}"></script>
</body>

</html>