body {
  color: #848484;
  background-color: #f0f0f0;
  font-size: 16px;
}
.main-content {
  height: 300px;
  padding: 30px;
  margin-top: 4em;
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.main-content .title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 0 30px 0;
  color: #000000;
  text-align: center;
}
.main-content .input-text input {
  font-weight: 300;
  height: 50px;
  padding-left: 10px;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 0px;
  transition: all 0.3s ease;
}
.main-content .input-text input.danger {
  border-bottom: 1px solid rgba(223, 97, 14, 0.4);
}
.main-content .input-text input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.main-content .btn {
  border: none;
  outline: none;
  box-shadow: none;
}
.main-content .btn:focus,
.main-content .btn:active {
  border: none;
  outline: none;
  box-shadow: none;
}
.main-content .btn:hover {
  color: #47d1d1;
}
