.container {
  max-width: 750px!important;
}
.media {
  margin-bottom: .4rem;
}
.page-footer {
  background-color: #202020;
  padding: 35px 0 0 0;
  margin-top: 35px;
  color: #959595;
}
.page-footer .title {
  position: relative;
  color: #fff;
  border-bottom: 1px solid #303030;
  padding-bottom: 7px;
  margin-bottom: 21px;
  font-size: 16px;
}
.page-footer .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #337ab7;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.page-footer a {
  font-size: 12px;
  color: #959595;
  text-decoration: none;
  transition: all .2s ease;
}
.page-footer a:hover {
  color: #fff;
}
.page-footer .widget {
  padding: 0 30px;
}
.page-footer .widget.link a {
  display: block;
  border-bottom: 1px dashed #303030;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.page-footer .widget.link a.active {
  color: #e15782;
}
.page-footer .widget.box li {
  float: left;
}
.page-footer .widget.box a {
  border: 1px solid #303030;
  padding: 2px 7px;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
}
.page-footer .widget.box a:hover {
  background-color: #e15782;
}
.page-footer .widget.friend li {
  float: left;
}
.page-footer .widget.friend a {
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
}
.page-footer .record {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555;
  padding-top: 14px;
  padding-bottom: 20px;
  border-top: 1px solid #303030;
}
.page-footer .record a {
  color: #555;
}
.page-footer .record a:hover {
  text-decoration: underline;
}
.header-menu {
  padding: 24px 0 21px;
}
.header-menu li a {
  padding: 12px 20px;
  color: #545454;
  font-size: 21px;
}
.post-item {
  margin-bottom: 15px;
}
.post-item .itme {
  /* position: absolute;
  top: 0;
  right: 15px; */
}
.post-item hr {
  width: 30%;
  height: 1px;
  margin: 0 auto;
  border: 0;
  background: #EFEFEF;
}
.post-item:hover hr {
  background: #A0DAD0;
  transition: all 0.2s ease-out;
}
.post-item a {
  color: #212529;
  text-decoration: none;
}
.loader-more {
  margin-top: 50px;
}
.loader-more a {
  text-decoration: none;
  padding: 13px 35px;
  border: 1px solid #D6D6D6;
  border-radius: 50px;
  color: #ADADAD;
}
.post-meta .tag {
  margin-left: 10px;
}
.header-menu a,
.loader-more a {
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}
.header-menu a:hover,
.loader-more a:hover {
  color: #A0DAD0;
  border-color: #A0DAD0;
}
.test {
  background: red;
  color: yellow;
}
