.writer {
  height: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.writer .row {
  height: 100%;
}
.content-left {
  background-color: #fff;
  height: 100%;
  position: relative;
  color: #595959;
}
.content-left .title {
  margin-top: 20px;
}
.content-left .menu {
  margin: 0;
  list-style-type: none;
  background-color: #d9d9d9;
  border-bottom: 1px solid #ccc;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
.content-left .menu .item {
  border-radius: 0;
}
.content-left .menu .item:hover {
  color: #f2f2f2;
  background-color: #595959;
}
.content-left .area textarea {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 105px;
  width: 100%;
  padding: 15px 20px;
  border: none;
  outline: none;
  overflow: auto;
  resize: none;
}
.content-right {
  height: 100%;
  overflow-y: auto;
  word-wrap: break-word;
  color: #333;
  background-color: #fcfaf2;
  padding-top: 1rem;
  font-size: 16px;
  line-height: 1.75;
}
