<!DOCTYPE html>
<html lang="zh-CN" >

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>{{title || blog.header}} | {{blog.subhead}}</title>
    <meta name="description" content="{{blog.description}}" />
    <meta name="keywords" content="{{blog.keywords}}" />
    <link rel="stylesheet" href="{{blog.static}}/blog/theme01/css/style.css?v={{blog.version}}">
    <link rel="stylesheet" href="{{blog.static}}/lib/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{blog.static}}/lib/pure/pure-min.css">
    <link rel="stylesheet" href="{{blog.static}}/lib/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="{{blog.static}}/lib/font-awesome/4.7.0/css/font-awesome.min.css?v=1">
    <script src="{{blog.static}}/lib/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{blog.static}}/lib/es6-promise/4.1.1/es6-promise.auto.min.js" async></script>
    <link rel="icon" href="https://gaga-change.github.io/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://gaga-change.github.io/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="body_container">
        <div id="header">
            <div class="site-name">
                <a id="logo" href="/.">{{blog.header}}</a>
                <p class="description">{{blog.subhead}}</p>
            </div>
            <div id="nav-menu">
                {% for menu in menus %}
                <a  href="{{menu.path}}" {% if menu.current %} class="current" {% endif %}>
                    {% autoescape false %}{{menu.name}} {% endautoescape %}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="pure-g" id="layout">
            {% block content %}{% endblock %}

            <div class="pure-u-1-4 hidden_mid_and_down">
                <div id="sidebar">
                    <div class="widget">
                        <form class="search-form" action="//www.google.com/search" method="get" accept-charset="utf-8" target="_blank">
                            <input type="text" name="q" maxlength="20" placeholder="Search">
                            <input type="hidden" name="sitesearch" value="http://www.junn.top">
                        </form>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <i class="fa fa-folder-o">分类</i>
                        </div>
                        <ul class="category-list">
                            {% for tag in terms.categories %}
                            <li class="category-list-item">
                                <a class="category-list-link" href="/categories/{{tag}}">{{tag}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <i class="fa fa-star-o">标签</i>
                        </div>
                        <div class="tagcloud">
                            {% for category in terms.tags %}
                            <a href="/tags/{{category}}" style="font-size:15px">{{category}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <i class="fa fa-file-o">最近文章</i>
                        </div>
                        <ul class="post-list">
                            {% for post in terms.posts%}
                            <li class="post-list-item">
                                <a class="post-list-link" href="/archives/{{post.id}}">{{post.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <i class="fa fa-external-link">友情链接</i>
                        </div>
                        <ul>
                            <li>
                                <!-- <a href="" title="" target="_blank"></a> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-3-4">
                <div id="footer">Copyright © 2018
                    <a href="/." rel="nofollow">喜欢JS的无名小站</a> |
                    <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">浙ICP备17054210号</a> |&nbsp
                    <a rel="nofollow" target="_blank" href="https://github.com/tufu9441/maupassant-hexo">Theme:大道至简</a>
                </div>
            </div>
        </div>
        <a class="show" id="rocket" href="#top"></a>
    </div>
    <script src="{{blog.static}}/blog/theme01/js/totop.js?v={{blog.version}}" async></script>
    <script src="{{blog.static}}/lib/fancybox/jquery.fancybox.min.js" async></script>
    <script src="{{blog.static}}/blog/theme01/js/fancybox.js?v={{blog.version}}" async></script>
    <link rel="stylesheet" href="{{blog.static}}/lib/fancybox/jquery.fancybox.min.css">
    <script src="{{blog.static}}/blog/theme01/js/codeblock-resizer.js?v={{blog.version}}"></script>
    <script src="{{blog.static}}/blog/theme01/js/smartresize.js?v={{blog.version}}"></script> {% include '../com/_footer.html' %}
</body>

</html>
